/* Estilos para el componente Header */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}
