.App {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  padding: 20px;
  color: white;
}

.hero {
  text-align: center;
  color: white;
}

.features {
  text-align: center;
}

.contact {
  text-align: center;
  color: white;
}
